@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #2563eb;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #1d4ed8;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}